[DEFAULT]
darksky_api_key = #darksky_api_key
pushbullet_api_key = #pushbullet_api_key
doors_to_open = front

[front]
# GPIO Settings - Use BOARD numbers
left_sensor_pin = #gpio_left_sensor_pin
right_sensor_pin = #gpio_right_sensor_pin
outside_switch = #outside_switch
motor_a_pin = #gpio_motor_a_pin
motor_b_pin = #gpio_motor_b_pin

# Maximum time to run the door for in seconds
safety_limit = 45
---
install_dir = /opt/coopdoor

# Where to pull the sun times for and potential adjustments
zipcode = 91210
morning_nudge_minutes = 20
evening_nudge_minutes = 30